.book-container {
  display: flex;
  flex-direction: column;

  /* justify-content: center; */
  max-width: 1000px;
  height:100vh;
  margin-top:90px;
  margin-left:100px;

  background: #FFCC99;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.book-content {
  display: flex;
  padding: 0px;
}

.book-cover {
  flex-shrink: 0;
  width: 305px;
  height: 305px;
  margin-left: 65px;
  margin-top: 28px;
  object-fit: cover;
  border-radius: 10px;
}

.book-details {
  flex-grow: 1;
  text-align: center;
}

.book-description {
  margin-bottom: 10px;
  margin-left: 30px;
}

.book-actions {
  display: flex;
  /* justify-content: space-between; */
  margin: 20px 0;
  justify-content: left;
  margin-left: 50px;
}

.book-thumbnails {
  display: flex;
  overflow-x: auto;
  padding: 20px;
}

.feedback-buttons {
  display: flex;
  width:350px;
  height: 50px;
  margin-left:50px;
  background-color: #FF870E; /* 根据图片的背景颜色调整 */
  border-radius: 10px; /* 按钮组的圆角 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 阴影效果 */
}

.feedback-buttons button {
  background: transparent;
  border: none;
  color: #ffffff; /* 文字颜色，根据图片调整 */
  font-weight: bold; /* 字体加粗 */
  display: flex;
  align-items: center;
  gap: 5px; /* 图标和文字的间距 */
  cursor: pointer;
}

.feedback-buttons button:hover {
  opacity: 0.7; /* 鼠标悬停时的效果 */
}


/* .book-thumbnails {
   margin-right: 10px; 
   flex: 0 0 auto; 
} */

.book-thumbnails img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 30px;
}

/* Add more styles here for fonts, colors, etc. */

  