.login-page {
  /* background-image: url('your-background-image.jpg'); 替換成您的背景圖片 */
  background-size: cover; 
  height: 100vh; 
  display: flex; 
  align-items: center;
  justify-content:center;
}

.login-container {
  background-color:#FF870E;
  padding: 40px;
  border-radius: 0px;
  width: 300px; /* 或根據需要調整 */
}

.login-form{
  display: flex; flex-direction: column;

}

.login-form input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-form button {
  background-color: #0a0a0a; /* 這裡使用您喜歡的顏色 */
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

 /* .login-form button:hover {
    background-color: rgb(244, 0, 0);
  }
   */

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.New-to-TaleHug{
  text-decoration: none; /* 移除下划线 */
  color: #ffffff; /* 链接文字颜色 */
  transition: color 0.3s ease; /* 颜色变化的过渡效果 */
}

.New-to-TaleHug:hover {
  color: rgb(0, 41, 248); /* 鼠标悬停时文字颜色 */
}
