/* MAIN CONTIANER */
.MyList {
    margin-top: 50px;
    padding: 50px;
  }
  
  .box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(7, minmax(100px, 1fr));
  }
  .box a {
    transition: transform .3s;  
  }
  .box a:hover {
    transition: transform .3s;
    -ms-transform: scale(1.4); /* 這行是為了支持舊版的IE瀏覽器 */
    -webkit-transform: scale(1.4); /* 這行是為了支持舊版的Safari瀏覽器 */
    transform: scale(1.3); /* 標準語法，放大效果 */
  }
  .box img {
    width: 100px; /* 圖片寬度，需要和高度相同 */
    height: 100px; /* 圖片高度，需要和寬度相同 */
    border-radius: 50%; /* 這會將圖片變為圓形 */
    object-fit: cover; /* 確保圖片按比例填充且不失真 */
  }